h1 a, h2 a{
   color: #FFD700;
}

#registrazione,#registrazione:active,#registrazione:visited {
  color: #FF0000;
  text-decoration: none;
}
body {
    padding-left: 0px;
}

.page-header {
     background-color:  #000000;
     margin-top: 0;
     padding: 20px 20px 20px 40px;
     float: none;
     display: block;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
     color: #FFD700;
     font-size: 36pt;
     text-decoration: none;
}

.order{
     margin-top: -1;
     border: 1px solid #000000;
     border-left: 1px solid #FFFFFF;
     border-right: 1px solid #FFFFFF;

}

.content {
     margin-left: 15px;
     color: #000000;
}
a, a:visited,a:active,a:hover{
    color: #FFD700;
    text-decoration: none;
}

h1, h2, h3, h4 {
     font-family: 'Times New Roman', Serif;
}

.date {
     color: #828282;
}

.save {
     float: right; }

.order-form textarea, .order-form input {
     width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
     color: #ffffff;
     float: right;
     font-size: 25pt;
     margin-right: 15px;
}

a.menu,a.menu:visited {
     color: #FFD700;
     padding: 5px;
     float: right;
     font-size: 15pt;
     margin-right: 15px;
     text-decoration: none;
     display:block;
     margin: 0px;
}
a.menu:hover{
 background: #555;
 text-decoration:none;
 margin: 0px;
 }


.order h2 a, .order h2 a:visited {
     color: #000000;
}

#bottom{
 background: #000000;
 color: #FFFFFF;
}

#bottom2{
 background: #000000;
 color: #FFFFFF;
}


