{% extends 'app/base.html' %}
{% block content %}
                <h1>Ordini chiusi: </h1>
                {% for order in orders_executed %}
                    <div class="order">
                    <p>user: {{ order.profile }}</p>
                    <p>datetime: {{ order.datetime }}</p>
                    <p>price: {{ order.price }} &euro;</p>
                    <p>quantity: {{ order.quantity }}</p>
                    <p>choice: {{ order.choice }}</p>
                    <p>datetime executed: {{order.date_executed}}</p>
                    <p>prenotation: {{order.prenotation}}</p>
                    <p>execute: {{ order.order_close }}</p>
                    <p>profit: {{ order.profit }} &euro;</p>
                    </div>
                {% endfor %}
{% endblock %}