{% extends 'app/base.html' %}
{% block content %}
<h2>Benvenuto al tutorial del mio exchange.Ti darò una breve spiegazione di come funziona la piattaforma.
Tramite il primo pulsante + puoi creare un tuo unico wallet,tramite l'altro + puoi creare un ordine.
Gli ordini aperti saranno nella home,tramite link potrai
    accedere alla pagina inerente ai wallets o agli ordini riusciti, cliccando sul titolo andrai alla home.
Buona permanenza!</h2>

<a href="/wallet">WALLETS</a>
<h3>         </h3>    <a href="/orders_executed">ORDERS EXECUTED</a>
{% endblock %}