{% extends 'app/base.html' %}
{% block content %}

<h2>Benvenuto al tutorial del mio exchange per criptovalute.Ti darò una breve spiegazione di come funziona la piattaforma.
Tramite il primo pulsante € puoi creare un tuo unico wallet,tramite l'altro + puoi creare un ordine.
Gli ordini aperti saranno nella home,potrai accedere premendo il titolo,tramite link potrai
    accedere alla pagina inerente ai wallets o agli ordini riusciti.
Nella sezione profit loss users e profit loss bitcoin troverai uno storico delle transazioni, è una sezione di
solito lasciata al programmatore per amministrare la piattaforma, comunque te la mostro per metterti al corrente.</h2>
{% endblock %}